<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div>
        <div>
            
        </div>
    </div>
    <script>
        var session = JSON.parse(`<%- session %>`);
        console.log(session);
        
        if (session && session.user) {
            const user = session.user
            const Username = document.createElement('h1');
            Username.textContent = `Welcome ${user}!`;
            document.body.appendChild(Username);
            const petLink = document.createElement('a');
            petLink.href = '/pet';
            petLink.textContent = 'Take care of your pet';
            document.body.appendChild(petLink);
        } else {
            const Guest = document.createElement('h1');
            Guest.textContent = 'Welcome! Please login to take care of your pet';
            document.body.appendChild(Guest);
            const loginLink = document.createElement('a');
            loginLink.href = '/login';
            loginLink.textContent = 'Login';
            document.body.appendChild(loginLink);
        }
    </script>
</body>
</html>