<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet</title>

    <style>
        #mainPage {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: cornflowerblue;
        }

        #petBox {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 40%;
            transform: translate(-50%, -50%);
            width: 200px;
            height: 400px;
            background-color: green;
            border: 5px solid;
            border-color: darkgreen;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: top;
        }

        #petContainer {
            position: absolute;
            left: center;
            top: 90%;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            display: flex;
            width: 100%;
            height: 10%;
            background-color: burlywood;
        }

        .interactionButton {
            position: relative;
            width: 30%;
            height: 90%;
            top: center;
            background-color: moccasin;
            border: 5px solid;
            border-color: chocolate;
            border-radius: 15px;
            font-size: calc(20px + 4vmin);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: italic;
            font-family: 'Comic Sans MS', cursive, sans-serif;
            color: chocolate;
        }

        #petMessageContainer {
            position: absolute;
            left: center;
            top: 79.45%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100px;
            background-color: lightblue;
            overflow-y: scroll;
        }

        #itemShop {
            position: absolute;
            left: 70%;
            top: 10%;
            width: 20%;
            height: 60%;
            background-color: moccasin;
            border: 5px solid;
            border-color: chocolate;
            border-radius: 15px;
        }

        #shopHeader {
            position: absolute;
            left: 50%;
            top: 5%;
            transform: translate(-50%, -50%);
            font-size: calc(20px + 4vmin);
            font-family: 'Comic Sans MS', cursive, sans-serif;
            color: chocolate;
        }
    </style>
</head>

<body>
    <div id="mainPage">
        <div id="contentBox" style="overflow-y: scroll;">
            <div id="petBox">
                <img src="https://www.pngitem.com/pimgs/m/146-1468479_my-cute-pet-dog-puppy-dog-png-transparent.png"
                    alt="Pet" style="width: 200px; height: 200px; border-radius: 15px;">
                    <div id="petSatiated"> 100% Satiated</div>
                    <div id="petHappiness"> 100% Happiness</div>

            </div>
            <div id="petMessageContainer">

            </div>
            <div id="itemShop">
                <div id="shopHeader">Shop</div>
            </div>
            <div id="petContainer">
                <button class="interactionButton" id="feedButton">Feed</button>
                <button class="interactionButton" id="playButton">Play</button>
                <button class="interactionButton" id="Button"></button>
            </div>
        </div>
    </div>
    <script>
        var petData = JSON.parse(`<%- petData %>`)
        console.log(petData);
        
        var happinessDecrementInterval = 2000;
        var petMessageContainer = document.getElementById("petMessageContainer");
        var petSatiated = document.getElementById("petSatiated");
        var petHappiness = document.getElementById("petHappiness");
        var petSatiatedValue = petData.PetHunger;
        var petHappinessValue = petData.PetHappiness;
        var PetHungerDecrement = setInterval(satiationDown, 10000);
        var PetHappinessDecrement = setInterval(happinessDown, happinessDecrementInterval);
        var PetStatusUpdate = setInterval(petStatus, 10000);
        var feedButton = document.getElementById("feedButton");
        var playButton = document.getElementById("playButton");
        feedButton.addEventListener("click", feedPet);
        playButton.addEventListener("click", playWithPet);
        updateHappiness(petHappinessValue);
        updateSatiation(petSatiatedValue);

        function petMessage(message) {
            const messageElement = document.createElement('div');
            messageElement.innerText = message;
            petMessageContainer.appendChild(messageElement);
            messageElement.scrollIntoView({ behavior: 'smooth', block: 'end' });
        }

        function petStatus() {
            let statusMessage = "Pet Status: ";
            if (petSatiatedValue >= 80 && petHappinessValue >= 80) {
                statusMessage += "Your pet is very happy and well-fed!";
            } else if (petSatiatedValue >= 80) {
                statusMessage += "Your pet is well-fed but could use more playtime.";
            } else if (petHappinessValue >= 80) {
                statusMessage += "Your pet is happy but could use more food.";
            } else {
                statusMessage += "Your pet needs more attention.";
            }
            petMessage(statusMessage);
        }

        function happinessDown() {
            if (petHappinessValue > 0) {
                petHappinessValue--;
                updateHappiness(petHappinessValue);
            }
            happinessDecrementInterval = 20 * petSatiatedValue;
            clearInterval(PetHappinessDecrement);
            PetHappinessDecrement = setInterval(happinessDown, happinessDecrementInterval);
        }

        function playWithPet() {
            if (petSatiatedValue >= 5) {
                petSatiatedValue -= 5;
                petHappinessValue += 10;
                if (petHappinessValue > 100) {
                    petHappinessValue = 100;
                }
                updateHappiness(petHappinessValue);
                updateSatiation(petSatiatedValue);
                petMessage('Your pet is a little happier now...');
            }
        }

        function satiationDown() {
            if (petSatiatedValue > 0) {
                petSatiatedValue--;
                updateSatiation(petSatiatedValue);
            }
        }

        function feedPet() {
            petSatiatedValue += 10;
            if (petSatiatedValue > 100) {
                petSatiatedValue = 100;
            }
            updateSatiation(petSatiatedValue);
            petMessage('Your pet is a little less hungry now...');
        }

        function updateSatiation(petSatiatedValue) {
            var satiatedGreenColor = 0
            var satiatedRedColor = 0
            satiatedGreenColor = Math.round(255 * (petSatiatedValue / 100));
            satiatedRedColor = 255 - Math.round(satiatedGreenColor / 1.7);
            petSatiated.style.color = "rgb(" + satiatedRedColor + "," + satiatedGreenColor + ",0)";
            petSatiated.innerHTML = petSatiatedValue + "% Satiated";
        }

        function updateHappiness(petHappinessValue) {
            var happinessGreenColor = 0
            var happinessRedColor = 0
            happinessGreenColor = Math.round(255 * (petHappinessValue / 100));
            happinessRedColor = 255 - Math.round(happinessGreenColor / 1.7);
            petHappiness.style.color = "rgb(" + happinessRedColor + "," + happinessGreenColor + ",0)";
            petHappiness.innerHTML = petHappinessValue + "% Happiness";
        }

        window.onbeforeunload = function () {
            console.log("Sending pet data to server...");
            console.log(petSatiatedValue);
            console.log(petHappinessValue);
            
            fetch('/pet', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                saturation: petSatiatedValue,
                happiness: petHappinessValue
            })
            }).catch(error => console.error('Error:', error));
        }
    </script>
</body>

</html>