<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet</title>

    <style>
        #mainPage {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: cornflowerblue;
        }
    </style>
</head>

<body>
    <div id="mainPage">
        <div id="contentBox" style="overflow-y: scroll;">
            <div id="petBox">
                <img src="https://www.pngitem.com/pimgs/m/146-1468479_my-cute-pet-dog-puppy-dog-png-transparent.png"
                    alt="Pet" style="width: 200px; height: 200px;">
            </div>
            <div id="petContainer">
                <button id="feedButton" onclick="">Feed</button>
                <button id="playButton" onclick="">Play</button>
                <button id="cleanButton" onclick="">Clean</button>
                <div id="petSatiated"> 100% Satiated</div>
            </div>
        </div>
    </div>
    <script>
        var petSatiated = document.getElementById("petSatiated");
        var petSatiatedValue = 100;
        var PetHungerIncrement = setInterval(satiationDown, 1000);
        var feedButton = document.getElementById("feedButton");
        feedButton.addEventListener("click", feedPet);

        function satiationDown() {
            if (petSatiatedValue > 0) {
                petSatiatedValue--;
                petSatiated.innerHTML = petSatiatedValue + "% Satiated";
            }
        }

        function feedPet() {
            petSatiatedValue = 100;
            petSatiated.innerHTML = petSatiatedValue + "% Satiated";
        }
    </script>
</body>

</html>